body {
  height: auto;
  background-size: cover;
  background: url(images/bg-intro-desktop.png) rgb(250, 88, 88);
  background-blend-mode: normal;
  font-family: "Poppins", sans-serif;
}

/*body {
  background-image: url(design/desktop-design.jpg);
  background-repeat: no-repeat;
  height: auto;
  width: 1440px;
  background-position: center;
  font-family: "Poppins", sans-serif;
}*/

.container {
  height: 90vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 48%;
  height: auto;
  padding-top: 4rem;
  color: #fff;
}

.content-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 48%;
  height: auto;
  margin-left: 2rem;
}

.title {
  width: 56%;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 105%;
  letter-spacing: -0.07rem;
}

.description {
  width: 56%;
  margin-top: 1.92rem;
  line-height: 154%;
}

.jumbo {
  width: 58.5%;
  height: 3.7rem;
  background-color: hsl(248, 32%, 49%);
  margin-top: 3rem;
  border-radius: 10px;
  text-align: center;
  font-size: 16px;
  letter-spacing: -0.0218rem;
  box-shadow: 0px 6px 6px hsla(249, 7%, 21%, 0.487);
}
.jumbo p {
  color: hsl(246, 25%, 77%);
  font-weight: 500;
}
.jumbo p span {
  color: #fff;
  font-weight: 700;
}

p {
  margin-block-start: 1.25rem;
  margin-block-end: 0em;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.3rem;
  background-color: #fff;
  width: 55.6%;
  border-radius: 10px;
  height: 27.6rem;
  padding: 2rem 1rem;
  box-shadow: 0px 6px 6px hsla(249, 7%, 21%, 0.487);
}
input {
  border: 1px solid hsl(246, 25%, 77%);
  width: 22vw;
  margin-left: 1.35vw;
  height: 3.38rem;
  border-radius: 6px;
  margin-top: 0.55rem;
  margin-bottom: 0.5rem;
  padding-left: 1.78rem;
  font-family: inherit;
  font-size: 15px;
  font-weight: 600;
  line-height: 1.15;
}

.Pcolor::-webkit-input-placeholder {
  color: hsl(0, 100%, 74%);
}

.form-group {
  position: relative;
}

.iconic {
  display: none;
  position: absolute;
  right: 1.5vw;
  top: 15px;
  padding: 10px 10px;
}

.formData[data-error]::after {
  content: attr(data-error);
  font-size: 10px;
  color: #e54858;
  display: block;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 2vw;
  text-align: right;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}
.formData[data-error-visible="true"]::after {
  opacity: 1;
}

button {
  border: 1px solid hsl(154, 59%, 40%);
  background-color: hsl(154, 59%, 40%);
  width: 24vw;
  height: 3.38rem;
  border-radius: 6px;
  margin-left: 5%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  line-height: 1.15;
  cursor: pointer;
  text-align: center;
}

button:hover {
  border: 1px solid hsl(154, 59%, 51%);
  background-color: hsl(154, 59%, 51%);
}
.mention {
  font-size: 8px;
  text-align: center;
}
.mention .grey {
  color: hsl(249, 10%, 26%);
}

a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}

.mention .red {
  color: hsl(0, 100%, 74%);
}
